* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
img {
  max-width: 120%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  height: 100px;
}

nav {
  width: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px;
  font-family: Montserrat;
  font-weight: 600;
  height: 120px;
  padding-top: 30px;
  padding-left: 0px;
}

nav ul a {
  text-decoration: none;
  font-size: 24px;
  color: #4700a5;
  font-size: inherit;
}

.nav-hamburger {
  height: 7px;
  width: 32px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: none;
  left: 82%;
  top: 45px;
}

.nav-hamburger::before {
  content: "";
  height: 7px;
  width: 32px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: -13px;
}
.nav-hamburger::after {
  content: "";
  height: 7px;
  width: 32px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 13px;
}

h1 {
  font-size: 116px;
  display: flex;
  justify-content: center;
  margin: 0px;
  position: relative;
  color: white;
  font-family: Montserrat;
}

.about-section {
  background: rgb(236, 108, 149);
  background: linear-gradient(
    90deg,
    rgba(236, 108, 149, 1) 31%,
    rgba(154, 47, 247, 1) 83%
  );

  position: relative;
}
.nav-section {
  background: rgb(236, 108, 149);
  background: linear-gradient(
    90deg,
    rgba(236, 108, 149, 1) 31%,
    rgba(154, 47, 247, 1) 83%
  );
}

.about-section p {
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  height: 180px;
  letter-spacing: 2px;
  font-weight: 400;
}

.about-section::before {
  content: "";
  background-image: url("/wecreate-assets/img/wave-top2.svg");
  width: 315px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 1;
  height: 150px;
}

.about-section::after {
  content: "";
  background-image: url("/wecreate-assets/img/wave-top.svg");
  width: 565px;
  height: 130px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -90px;
  right: -10%;
  z-index: 1;
}

h2 {
  font-size: 27px;
  color: #4700a5;
  font-family: Montserrat;
  letter-spacing: 2px;
}

.projects-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-section .projects-content {
  flex-basis: 35%;
  margin: 50px;
}

.projects-section .projects-img {
  flex-basis: 35%;
  margin: 50px;
}

.projects-section {
  position: relative;
}

.projects-section::after {
  position: absolute;
  content: "1.";
  font-size: 250px;
  left: 190px;
  font-weight: 700;
  top: 30px;
  color: #d429a59c;
  z-index: -1;
}

.projects-section p {
  color: #3c0770a6;
  letter-spacing: 0.5px;
  font-size: small;
}
.projects-section a {
  text-decoration: none;
  border: solid #9d0ba3;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  color: #4700a5;
  font-size: small;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.team-section .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.team-section .team-content {
  flex-basis: 35%;
}

.team-section .team-img {
  flex-basis: 35%;
}

.team-section {
  position: relative;
}

.team-section::after {
  position: absolute;
  content: "2.";
  font-size: 250px;
  left: 750px;
  font-weight: 700;
  top: 10px;
  color: #ff3c859c;
  z-index: -1;
}

.team-section p {
  color: #3c0770a6;
  letter-spacing: 0.5px;
  font-size: small;
}
.team-section a {
  text-decoration: none;
  border: solid #9d0ba3;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin-bottom: 30px;
  color: #4700a5;
  font-size: small;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  display: flex;
  font-size: 73px;
  font-family: "Montserrat";
  justify-content: center;
  color: black;
}

.quote-section {
  background-image: url(./wecreate-assets/img/fullbg.jpg);
  height: 250px;
  display: flex;
  align-items: center;
  position: relative;
  background-position-y: -90px;
  background-position-x: -170px;
}

.quote-section::before {
  content: "";
  background-image: url(./wecreate-assets/img/wave-bottom.svg);
  width: 650px;
  background-repeat: no-repeat;
  position: absolute;
  height: 150px;
  z-index: 1;
  bottom: -117px;
}

.mission-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mission-section .mission-content {
  flex-basis: 35%;
  margin: 50px;
}
.mission-section .mission-img {
  flex-basis: 35%;
  margin: 50px;
}
.mission-section {
  position: relative;
}
.mission-section::after {
  position: absolute;
  content: "3.";
  font-size: 250px;
  left: 152px;
  font-weight: 700;
  top: 40px;
  color: #d514a89c;
  z-index: -1;
}

.mission-section p {
  color: #3c0770a6;
  letter-spacing: 0.5px;
  font-size: small;
}

.mission-section a {
  text-decoration: none;
  border: solid #9d0ba3;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin-bottom: 30px;
  color: #4700a5;
  font-size: small;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.contact-section {
  background: rgb(236, 108, 149);
  background: linear-gradient(
    90deg,
    rgba(236, 108, 149, 1) 31%,
    rgba(154, 47, 247, 1) 83%
  );
}

.contact-section .container {
  display: flex;
  justify-content: center;
}

.contact-section .contact-form {
  flex-basis: 35%;
}

.contact-section .contact-text {
  flex-basis: 60%;
  padding: 50px;
}
h4 {
  display: flex;
  font-size: 9px;
  font-family: "Montserrat";
  color: #40168a;
  justify-content: flex-start;
}

.contact-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact-form label {
  color: #33086a;
  font-size: small;
}

.contact-form input {
  background: transparent;
  border: unset;
  border-bottom: 2px solid #33086a;
  margin-bottom: 20px;
}
.contact-form textarea {
  background: transparent;
  border: 2px solid #33086a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-form button {
  background: transparent;
  border: solid white;
  width: 130px;
  height: 35px;
  color: white;
}

.contact-text {
  font-size: 62px;
  font-family: Montserrat;
  color: #3e0985;
  font-weight: bold;
}

/* RWD */

@media screen and (max-width: 992px) {
  h1 {
    font-size: 65px;
  }

  .nav-section nav {
    display: none;
  }
  .nav-hamburger {
    display: flex;
  }
  .nav-hamburger::before {
    display: flex;
  }
  .nav-hamburger::after {
    display: flex;
  }

  .about-section p {
    font-size: 15px;
  }

  .projects-section .container {
    display: flex;
    flex-direction: column;
  }

  .projects-section .projects-content {
    flex-basis: 35%;
    margin: 50px;
  }

  .projects-section .projects-img {
    flex-basis: 35%;
    margin: 50px;
    display: flex;
    justify-content: center;
  }

  .team-section .container {
    display: flex;
    flex-direction: column;
  }

  .team-section .team-content {
    flex-basis: 35%;
    margin: 50px;
  }

  .team-section .team-img {
    flex-basis: 35%;
    margin: 50px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .about-section {
    background: #ec6c95;
  }
  .nav-section {
    background: #ec6c95;
  }
  .about-section::after {
    width: 300px;
    bottom: -163px;
  }
  .about-section::before {
    width: 250px;
    bottom: -8px;
  }
  .about-section::before {
    display: none;
  }
  .about-section::after {
    display: none;
  }
}
